
<div class="group-subscribe-block text-center py-4 mt-4 mb-8 text-sm border-t border-b border-gray-500 tags-wrapper max-w-7xl mx-auto sm:px-6 lg:px-8">
{% trans %}
  Hi <b>{{ name }}</b>, click <u><a class='subscribe-group' href="{{ url }}">here </a></u> if you would like to subscribe 
  to this group called <b><a  href="{{ link }}">{{ label }}</a></b>.
{% endtrans %}
</div>

