<div class="flex flex-row flex-wrap justify-center py-2 mt-4 mb-8 text-sm border-t border-b border-gray-500 tags-wrapper max-w-7xl mx-auto sm:px-6 lg:px-8">
  {% for tag in tags %}
    {{ tag }}
  {% endfor %}
</div>